# Airflow Environment Variables
AIRFLOW_HOME="${PWD}/.airflow"
AIRFLOW__CORE__DAGS_FOLDER="${PWD}/dags"
AIRFLOW__CORE__LOAD_EXAMPLES=False

# Ingestion variables
FILE_PATH_RAW="${PWD}/filesensor/raw"
FILE_PATH_PROCESSED="${PWD}/filesensor/processed"
FILE_PATH_ERROR="${PWD}/filesensor/error"

# Embedding variables
OPENAI_API_KEY="****"
EMBEDDING_MODEL="text-embedding-3-small"
PINECONE_API_KEY="****"
PINECONE_INDEX_NAME="insureai"